.popular-categories{
  // display: block;
}

.large-category{
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid $color-border;
  border-radius: 15px;
  padding: 20px 0px;
  transition: background-color, border 300ms $cb1;
  margin-bottom: 30px;

  &__icon{
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;

    span{
      font-size: $px32;
    }

    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgba($color-d-dark, 0.4);
      border: 3px solid rgba($color-l-blue1, 0.1);
      border-radius: 100%;
      box-shadow: 0px 15px 30px rgba($color-black, 0.3);
      transition: all 200ms $cb1;
      will-change: transform;
    }
  }

  &__content{
    h5{
      font-weight: $bold;
      font-size: $px20;
      margin: 0;
    }

    .desc{
      font-size: $px12;
      color: rgba($color-l-blue1, 0.7);
      transition: all 400ms;
    }
  }

  &:hover{
    background-color: $color-dark4;
    // border-color: $color-green;
    // border-color: lighten($color-border, 2%);

    .large-category{
      &__icon{
        &:before{
          // width: calc(100% + 8px);
          // height: calc(100% + 8px);
          transform: translate(-50%, -50%) scale(1.08);
          border-color: rgba($color-l-blue1, 0.15);
          box-shadow: 0px 0px 30px rgba($color-black, 0.2);
        }
      }

      &__content{
        .desc{
          color: $color-green;
        }
      }
    }
  }

  @media (max-width: 576px){
    margin-bottom: 10px;
  }

  @media (max-width: 768px){
    &__icon{
      width: 70px;
      height: 70px;

      span{
        font-size: $px22;
      }
    }

    &__content{
      h5{
        font-size: $px16;
      }
    }
  }
}


.category-list-wrapper{
  border: 1px solid $color-border;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: height 400ms $cb1;

  @media (max-width: $bp-lg){
    height: 100px;
  }

  &__show{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    // transition: all 300ms ease;

    &:before{
      content: '';
      width: 100%;
      height: 50px;;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: -moz-linear-gradient(top,  rgba(20,21,24,0) 0%, rgba(20,21,24,0.65) 100%);
      background: -webkit-linear-gradient(top,  rgba(20,21,24,0) 0%,rgba(20,21,24,0.65) 100%);
      background: linear-gradient(to bottom,  rgba(20,21,24,0) 0%,rgba(20,21,24,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141518', endColorstr='#a6141518',GradientType=0 );
    }

    .button{
      background-color: $color-dark;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover{
      .button{
        border-color: $color-green;
      }
    }

    @media (min-width: $bp-lg){
      display: none;
    }
  }



  @media (max-width: $bp-lg){
    &.not-expanded-lg{
      .category-list-wrapper{
        &__show{
          opacity: 1;
          visibility: visible;
        }
      }

      .category-list{
        opacity: 0.5;
      }
    }
  }

  @media (min-width: $bp-lg){
    &:hover{
      .category-list-item{
        &__icon{
          filter: grayscale(1);
        }

        &__content{
          .title{
            color: rgba($color-l-blue2, 0.7);
          }
        }
      }
    }
  }
}

.category-list{
  list-style: none;
  padding: 15px 0px;
  margin: 0;

  li{
    &:first-child{
      // background-color: red;
      // border-top-left-radius: 10px;
      // border-top-right-radius: 10px;
    }
  }

  &.selected{
    .category-list-item{
      &__icon{
        filter: grayscale(1);
      }

      &__content{
        .title{
          color: rgba($color-l-blue2, 0.7);
        }

        .badge{
          border-color: transparent;
          background-color: $color-border;
        }
      }

      &.active{
        .badge{
          border-color: $color-green;
          background-color: transparent;
        }
      }
    }
  }
}

.category-list-item{
  display: flex;
  position: relative;
  align-items: center;
  padding: 4px 20px;
  text-decoration: none;
  border-left: 1px solid transparent;
  transition: background-color 200ms ease-in,
              border-color 200ms ease-in;

  &__icon{
    position: relative;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in;
    pointer-events: none;

    span{
      display: inline-block;
      position: relative;
      top: -1px;
      font-size: $px22;
    }

    &:before{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 43px;
      height: 43px;
      background-color: $color-border;
      border-radius: 100%;
      z-index: -1;
    }
  }

  &__content{
    margin-left: 15px;
    pointer-events: none;

    .title{
      display: inline-block;
      font-size: $px14;
      font-weight: $bold;
      transition: color 200ms ease-in;
    }

    .badge{
      display: inline-block;
      margin-left: 3px;
      font-size: $px10;
      border: 1px solid $color-green;
      // letter-spacing: 0.04em;
      padding: 4px 5px;
      border-radius: 4px;
      font-weight: $medium;
      transition: all 300ms ease;
    }
  }

  &__group{
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    right: 15px;
    transform: translate(0, -42%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: lighten($color-dark, 10%);
    // background-color: red;
    border-radius: 100%;
    box-shadow: -10px 0px 10px $color-dark;
    transition: box-shadow 200ms ease,
                background-color 200ms ease,
                opacity 400ms ease,
                visibility 400ms ease;

    @media (min-width: $bp-lg){
      opacity: 0;
      visibility: hidden;
    }

    &:after{
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%) rotate(90deg);
      width: 6px;
      height: 8px;
      background-image: url(#{$assets-path}/icons/arrow-green.svg);
      background-size: contain;
      background-repeat: no-repeat;
      filter: grayscale(1);
      transition: all 300ms ease;
    }

    &:hover{
      background-color: lighten($color-dark, 15%);

      &:after{
        // filter: grayscale(0);
      }
    }
  }

  &.active{
    border-color: $color-green;

    .category-list-item{
      &__icon{
        filter: grayscale(0);
      }

      &__content{
        .title{
          color: $color-white;
        }
      }

      &__group{
        visibility: hidden;
        opacity: 0;
      }
    }

    &:hover{
      border-color: $color-green;

      .category-list-item__group{
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &:hover{
    background-color: $color-border;
    border-color: rgba($color-white, 0.2);

    .category-list-item{
      &__icon{
        filter: grayscale(0);
      }

      &__content{
        .title{
          color: $color-white;
        }
      }

      &__group{
        box-shadow: -10px 0px 10px $color-border;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.category-list-item-sub{
  position: relative;
  overflow: hidden;
  transition: height 400ms $cb1;
  will-change: height;

  &.hidden{
    height: 0;
  }

  ul{
    list-style: none;
    // padding: 0px 0px 0px 80px;
    padding: 0px 0px 5px 80px;
    display: block;

    li{
      // margin-bottom: 3px;
      a{
        display: block;
        text-decoration: none;
        font-size: $px14;
        color: rgba($color-l-blue2, 0.9);
        transition: color 200ms ease;
        position: relative;
        // padding-left: 0px;
        padding: 4px 0px;

        &:before{
          content: '';
          position: absolute;
          display: block;
          border-radius: 4px;
          width: 5px;
          height: 5px;
          background-color: rgba($color-white, 0.1);
          left: -40px;
          top: 48%;
          transform: translate(0, -50%);
          transition: all 300ms ease;
        }

        &:hover, &.active{
          color: $color-white;

          &:before{
            background-color: $color-green;
          }
        }
      }
    }
  }
}
