@font-face {
  font-family: 'Plus Jakarta Display';
  src: url("../../public/fonts//plus-jakarta-display/PlusJakartaDisplay-Light.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-LightItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-LightItalic.woff) format('woff');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }
@font-face {
  font-family: 'Plus Jakarta Display';
  src: url("../../public/fonts//plus-jakarta-display/PlusJakartaDisplay-Regular.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Italic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Italic.woff) format('woff');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }
@font-face {
  font-family: 'Plus Jakarta Display';
  src: url("../../public/fonts//plus-jakarta-display/PlusJakartaDisplay-Medium.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-MediumItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-MediumItalic.woff) format('woff');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }
@font-face {
  font-family: 'Plus Jakarta Display';
  src: url("../../public/fonts//plus-jakarta-display/PlusJakartaDisplay-Bold.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-BoldItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-display/PlusJakartaDisplay-BoldItalic.woff) format('woff');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }








// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff) format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-LightItalic.woff) format('woff');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff) format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff) format('woff');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff) format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff) format('woff');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff) format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff) format('woff');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }
//
//
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff) format('woff');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }
//
// @font-face {
//   font-family: 'Plus Jakarta Display';
//   src: url("../../public/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff2") format('woff2'),url(../../public/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBoldItalic.woff) format('woff');
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }
